section.noe-floor-1 {
  background: url("../images/road-left.png"), url("../images/road-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 1500px;
  position: relative;
  margin-top: -80px;
}
section.noe-floor-1 .inner {
  max-width: 650px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #02080e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.noe-floor-1 .inner .b1-users {
  width: 988px;
  transform: translateY(-100px);
}
section.noe-floor-1 .inner .b1-elevator {
  position: relative;
}
section.noe-floor-1 .inner .b1-elevator .b1 {
  position: absolute;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
}
section.noe-floor-1 .inner .b1-elevator .b1-elevator-image {
  width: 650px;
  height: 850px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.noe-floor-1 .left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(50% - 325px);
  height: 100%;
}
section.noe-floor-1 .left .left-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 34px;
}
section.noe-floor-1 .left .left-wrapper .put-here {
  position: relative;
}
section.noe-floor-1 .left .left-wrapper .put-here .wrapper-thinking .noe-image {
  margin-bottom: 60px;
}
section.noe-floor-1 .left .left-wrapper .put-here .wrapper-thinking .box-chat {
  background: url("../images/box-chat-1.png") no-repeat;
  background-size: contain;
  width: 350px;
  height: 170px;
  position: absolute;
  top: -58%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.noe-floor-1 .left .left-wrapper .put-here .wrapper-thinking .box-chat p {
  font-size: 96px;
  color: #eaeaec;
  text-transform: uppercase;
}
section.noe-floor-1 .left .left-wrapper .put-here .wrapper-thinking .thinking-1 {
  position: absolute;
  top: -10%;
  left: 75%;
  width: 50px;
  height: 33px;
}
section.noe-floor-1 .left .left-wrapper .put-here .wrapper-thinking .thinking-2 {
  position: absolute;
  top: 5%;
  left: 75%;
  width: 30px;
  height: 20px;
}
section.noe-floor-1 .left .left-wrapper .put-here .line-point-out {
  position: absolute;
  top: 50%;
  right: -80%;
}
section.noe-floor-1 .left .left-wrapper .put-here .line-point-out img.b1-arrow {
  transform: translate(-10px, 10px);
}
section.noe-floor-1 .left .left-wrapper .copy-noe {
  height: 100px;
  width: 549px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0098ea;
}
section.noe-floor-1 .left .left-wrapper .copy-noe p {
  font-size: 72px;
  color: #eaeaec;
  text-transform: uppercase;
}
section.noe-floor-1 .right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(50% - 325px);
  height: 100%;
}
section.noe-floor-1 .right .right-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: end;
  text-align: center;
  padding-bottom: 34px;
  position: relative;
}
section.noe-floor-1 .right .right-wrapper .noe-description {
  background: url("../images/box-chat-2.png") no-repeat;
  background-size: contain;
  width: 548px;
  height: 366px;
  position: absolute;
  bottom: 30%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.noe-floor-1 .right .right-wrapper .noe-description p {
  font-size: 55px;
  color: #eaeaec;
  max-width: 410px;
  width: 100%;
  word-break: break-all;
}
section.noe-floor-1 .right .right-wrapper .noe-image {
  margin-right: 50px;
}/*# sourceMappingURL=b1.css.map */