$primaryColor: #0098ea;

@mixin media($screen: 576px) {
  @media (max-width: $screen) {
    @content;
  }
}

section.noe-floor-1 {
  background: url("../images/road-left.png"), url("../images/road-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: -80px;

  @include media() {
    margin-top: -10px;
  }

  .inner {
    max-width: 650px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #02080e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include media() {
      max-width: 155px;
    }

    .b1-users {
      width: 988px;
      transform: translateY(-100px);

      @include media() {
        width: 204px;
        transform: translateY(-10px);
      }
    }

    .b1-elevator {
      position: relative;

      .b1 {
        position: absolute;
        top: 86px;
        left: 50%;
        transform: translateX(-50%);

        @include media() {
          width: 28px;
          height: 10px;
          top: 20px;
        }
      }

      .b1-elevator-image {
        width: 650px;
        height: 850px;
        object-fit: cover;

        @include media() {
          width: 100%;
          height: 200px;
        }
      }
    }
  }

  .left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(50% - 650px / 2);
    height: 100%;

    .left-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      padding-bottom: 34px;

      .put-here {
        position: relative;

        .wrapper-thinking {
          @include media() {
            transform: translate(50px, 70px);
          }

          .noe-image {
            margin-bottom: 60px;

            @include media() {
              width: 74px;
              height: 86px;
            }
          }

          .box-chat {
            background: url("../images/box-chat-1.png") no-repeat;
            background-size: contain;
            width: 350px;
            height: 170px;
            position: absolute;
            top: -58%;
            left: 30%;

            display: flex;
            justify-content: center;
            align-items: center;

            @include media() {
              width: 68px;
              height: 32px;
              top: -40%;
            }

            p {
              font-size: 96px;
              color: #eaeaec;
              text-transform: uppercase;

              @include media() {
                font-size: 18px;
              }
            }
          }

          .thinking-1 {
            position: absolute;
            top: -10%;
            left: 75%;
            width: 50px;
            height: 33px;

            @include media() {
              width: 10px;
              height: 6px;
            }
          }
          .thinking-2 {
            position: absolute;
            top: 5%;
            left: 75%;
            width: 30px;
            height: 20px;

            @include media() {
              width: 5px;
              height: 6px;
            }
          }
        }

        .line-point-out {
          position: absolute;
          top: 50%;
          right: -80%;

          @include media() {
            right: -120%;
            top: 80%;
          }

          .line {
            @include media() {
              width: 34px;
              height: 10px;
            }
          }

          img.b1-arrow {
            transform: translate(-10px, 10px);
            @include media() {
              display: none;
            }
          }
        }
      }

      .copy-noe {
        height: 100px;
        width: 549px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primaryColor;

        @include media() {
          width: 74px;
          height: 16px;
          transform: translate(70%, 20px);
        }
        p {
          font-size: 72px;
          color: #eaeaec;
          text-transform: uppercase;

          @include media() {
            font-size: 12px;
          }
        }
      }
    }
  }

  .right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(50% - 650px / 2);
    height: 100%;

    .right-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      align-items: end;
      padding-bottom: 34px;
      position: relative;

      .noe-description {
        background: url("../images/box-chat-2.png") no-repeat;
        background-size: contain;
        width: 548px;
        height: 366px;
        position: absolute;
        bottom: 30%;
        left: 5%;

        @include media() {
          width: 98px;
          height: 64px;
          transform: translate(-100%, -15px);
        }

        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 55px;
          color: #eaeaec;
          max-width: 410px;
          width: 100%;
          word-break: break-all;

          @include media() {
            font-size: 10px;
            max-width: 72px;
          }
        }
      }

      .noe-image {
        margin-right: 50px;

        @include media() {
          width: 54px;
          height: 70px;
          margin-right: 10px;
        }
      }
    }
  }
}
