section.noe-b1 {
  background: url("../images/floor-b1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
section.noe-b1 .inner {
  max-width: 650px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #02080e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  section.noe-b1 .inner {
    max-width: 155px;
  }
}
section.noe-b1 .inner .down {
  height: 50%;
  padding: 50px 0;
}
section.noe-b1 .inner .down img {
  width: 159px;
  height: 555px;
}
@media (max-width: 576px) {
  section.noe-b1 .inner .down img {
    width: 38px;
    height: 132px;
  }
}
section.noe-b1 .inner .b1-elevator {
  position: relative;
  height: 50%;
}
section.noe-b1 .inner .b1-elevator .b2 {
  position: absolute;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  section.noe-b1 .inner .b1-elevator .b2 {
    width: 27px;
    height: 15px;
    top: 10px;
  }
}
section.noe-b1 .inner .b1-elevator .noe-in-elevator {
  position: absolute;
  bottom: 46px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  section.noe-b1 .inner .b1-elevator .noe-in-elevator {
    width: 62px;
    height: 69px;
    bottom: 10px;
  }
}
section.noe-b1 .inner .b1-elevator .point-out-b2 {
  position: absolute;
  bottom: 28%;
  left: 35%;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  section.noe-b1 .inner .b1-elevator .point-out-b2 {
    width: 152px;
    height: 102px;
  }
}
section.noe-b1 .inner .b1-elevator .b1-elevator-image {
  width: 650px;
  height: 850px;
}
@media (max-width: 576px) {
  section.noe-b1 .inner .b1-elevator .b1-elevator-image {
    width: 100%;
    height: 200px;
  }
}
section.noe-b1 .left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(50% - 325px);
  height: 100%;
}
section.noe-b1 .left .left-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 34px;
}
section.noe-b1 .left .left-wrapper .b2-noe-top {
  position: absolute;
  top: 0;
  width: 635px;
  height: 593px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  section.noe-b1 .left .left-wrapper .b2-noe-top {
    width: 110px;
    height: 103px;
    left: 50%;
  }
}
section.noe-b1 .left .left-wrapper .box-chat {
  background: url("../images/box-chat-3.png") no-repeat;
  width: 490px;
  height: 485px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5.5%;
  left: 20%;
}
@media (max-width: 576px) {
  section.noe-b1 .left .left-wrapper .box-chat {
    width: 107px;
    height: 107px;
    background-size: contain;
  }
}
section.noe-b1 .left .left-wrapper .box-chat p {
  max-width: 362px;
  font-size: 128px;
  color: #eaeaec;
  max-width: 410px;
  width: 100%;
  word-break: break-all;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  section.noe-b1 .left .left-wrapper .box-chat p {
    font-size: 28px;
    max-width: 80px;
  }
}
section.noe-b1 .right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(50% - 325px);
  height: 100%;
}
section.noe-b1 .right .right-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 112px;
  position: relative;
}
section.noe-b1 .right .right-wrapper p {
  font-size: 128px;
  color: #eaeaec;
  max-width: 410px;
  width: 100%;
  word-break: break-all;
}
@media (max-width: 576px) {
  section.noe-b1 .right .right-wrapper p {
    font-size: 22px;
    width: 62px;
    transform: translateX(-82%);
  }
}
@media (max-width: 576px) {
  section.noe-b1 .right .right-wrapper img {
    width: 85px;
    height: 98px;
    transform: translateX(-60%);
  }
}/*# sourceMappingURL=b2.css.map */