section.noe-b2 {
  background: url("../images/floor-b2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -500px;
  display: flex;
  position: relative;
}
@media (max-width: 576px) {
  section.noe-b2 {
    background-position: center center;
    overflow: hidden;
  }
}
section.noe-b2 .inner {
  max-width: 650px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #02080e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 576px) {
  section.noe-b2 .inner {
    max-width: 155px;
  }
}
section.noe-b2 .inner .down {
  height: 50%;
  padding: 50px 0;
}
section.noe-b2 .inner .down img {
  width: 159px;
  height: 555px;
}
@media (max-width: 576px) {
  section.noe-b2 .inner .down img {
    width: 38px;
    height: 134px;
  }
}
section.noe-b2 .inner .down-bottom {
  height: 360px;
}
@media (max-width: 576px) {
  section.noe-b2 .inner .down-bottom {
    height: 60px;
  }
}
section.noe-b2 .inner .b1-elevator {
  position: relative;
  height: 50%;
}
@media (max-width: 576px) {
  section.noe-b2 .inner .b1-elevator .b1-elevator-image {
    width: 155px;
    height: 200px;
  }
}
section.noe-b2 .inner .b1-elevator .b2 {
  position: absolute;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  section.noe-b2 .inner .b1-elevator .b2 {
    width: 28px;
    height: 15px;
  }
}
section.noe-b2 .inner .b1-elevator .noe-in-elevator {
  position: absolute;
  bottom: 46px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  section.noe-b2 .inner .b1-elevator .noe-in-elevator {
    width: 68px;
    height: 95px;
    bottom: 10px;
  }
}
section.noe-b2 .inner .b1-elevator .point-out-b2 {
  position: absolute;
  bottom: 28%;
  left: 35%;
  transform: translateX(-50%);
}
section.noe-b2 .inner .b1-elevator .b1-elevator-image {
  width: 650px;
  height: 850px;
}
@media (max-width: 576px) {
  section.noe-b2 .inner .b1-elevator .b1-elevator-image {
    width: 100%;
    height: 200px;
  }
}
section.noe-b2 .left {
  width: calc(50% - 325px);
  padding-bottom: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 576px) {
  section.noe-b2 .left {
    width: calc(50% - 77.5px);
  }
}
section.noe-b2 .left .left-wrapper {
  text-align: center;
}
section.noe-b2 .left .left-wrapper .b2-noe-thinking {
  width: 498px;
  height: 498px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 88px;
  margin-top: 50px;
}
@media (max-width: 576px) {
  section.noe-b2 .left .left-wrapper .b2-noe-thinking {
    width: 100px;
    height: 100px;
  }
}
section.noe-b2 .left .left-wrapper .b2-noe-logo {
  margin-bottom: 190px;
}
@media (max-width: 576px) {
  section.noe-b2 .left .left-wrapper .b2-noe-logo {
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  section.noe-b2 .left .left-wrapper .b2-noe-7 {
    width: 72px;
    height: 77px;
  }
}
section.noe-b2 .left .left-wrapper .description {
  font-size: 72px;
  color: #eaeaec;
  max-width: 562px;
  margin: 0 auto;
  word-break: break-all;
  text-transform: uppercase;
  padding-bottom: 100px;
  margin-bottom: 38px;
}
@media (max-width: 576px) {
  section.noe-b2 .left .left-wrapper .description {
    font-size: 14px;
    max-width: 74px;
    width: 74px;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
section.noe-b2 .left .left-wrapper .description span {
  color: #0098ea;
}
section.noe-b2 .right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(50% - 325px);
  height: 100%;
}
@media (max-width: 576px) {
  section.noe-b2 .right {
    width: calc(50vw - 77.5px);
  }
}
section.noe-b2 .right .right-wrapper {
  text-align: center;
  padding-bottom: 355px;
  transform: translate(-10px, 40%);
}
section.noe-b2 .right .right-wrapper .noe-right {
  transform: translateY(65px);
}
@media (max-width: 576px) {
  section.noe-b2 .right .right-wrapper .noe-right {
    width: 95px;
    height: 78px;
  }
}
section.noe-b2 .right .right-wrapper .box-chat {
  background: url("../images/box-chat-4.png") no-repeat;
  background-position: center;
  width: 660px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-10px, -50px);
  position: relative;
}
@media (max-width: 576px) {
  section.noe-b2 .right .right-wrapper .box-chat {
    width: 125px;
    height: 78px;
    transform: translateY(50px);
    background-size: contain;
  }
}
section.noe-b2 .right .right-wrapper .box-chat p {
  font-size: 128px;
  color: #eaeaec;
  width: 100%;
  word-break: break-all;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  section.noe-b2 .right .right-wrapper .box-chat p {
    font-size: 20px;
  }
}
section.noe-b2 .right .right-wrapper .box-chat .point-out {
  position: absolute;
  left: -6%;
}
@media (max-width: 576px) {
  section.noe-b2 .right .right-wrapper .box-chat .point-out :not(img.arrow) {
    width: 18px;
    height: 10px;
  }
}
section.noe-b2 .right .right-wrapper .box-chat .point-out .arrow {
  position: absolute;
  left: -6%;
  top: -6%;
  transform: translateY(42px);
}
@media (max-width: 576px) {
  section.noe-b2 .right .right-wrapper .box-chat .point-out .arrow {
    display: none;
  }
}/*# sourceMappingURL=b3.css.map */