$primaryColor: #0098ea;

@mixin media($screen: 576px) {
  @media (max-width: $screen) {
    @content;
  }
}

section.noe-b3 {
  background: url("../images/floor-b3.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  position: relative;

  .inner {
    max-width: 650px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #02080e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media() {
      max-width: 155px;
    }

    .down {
      height: 50%;
      padding: 50px 0;
      margin-top: -350px;

      @include media() {
        margin-top: -50px;
      }

      img {
        width: 159px;
        height: 555px;

        @include media() {
          width: 38px;
          height: 132px;
        }
      }
    }

    .down-bottom {
      height: 676px;
      display: flex;
      align-items: center;

      @include media() {
        height: 180px;
      }

      .b2-down {
        @include media() {
          width: 38px;
          height: 132px;
        }
      }
    }

    .point-out {
      position: absolute;
      bottom: -20%;
      right: -105%;
      transform: translateX(-50%);

      @include media() {
        width: 90px;
        height: 374px;
        bottom: -13%;
        right: -64%;
      }
    }

    .arrow-4 {
      position: absolute;
      bottom: 53%;
      right: 0%;
      transform: translateX(-50%);
      z-index: 9;

      @include media() {
        display: none;
      }
    }

    .b1-elevator {
      position: relative;
      height: 50%;

      .b3 {
        position: absolute;
        top: 86px;
        left: 50%;
        transform: translateX(-50%);

        @include media() {
          width: 28px;
          height: 15px;
          top: 18px;
        }
      }

      .noe-in-elevator-11 {
        position: absolute;
        bottom: 46px;
        left: 50%;
        transform: translateX(-50%);

        @include media() {
          width: 52px;
          height: 86px;
        }
      }

      .noe-in-elevator-12 {
        position: absolute;
        bottom: 0px;
        left: 22%;
        transform: translateX(-50%);

        @include media() {
          width: 48px;
          height: 70px;
        }
      }

      .b1-elevator-image {
        width: 650px;
        height: 850px;

        @include media() {
          width: 100%;
          height: 200px;
        }
      }
    }
  }

  .left {
    width: calc(50% - 650px / 2);
    padding-bottom: 50px;

    @include media() {
      width: calc(50vw - 155px / 2);
    }
  }

  .right {
    width: calc(50% - 650px / 2);
    height: 100%;

    @include media() {
      width: calc(50vw - 155px / 2);
    }

    .right-wrapper {
      height: 100%;
      text-align: center;
      margin-top: 100px;

      :not(img.noe-17) {
        @include media() {
          width: 90px;
          height: 94px;
        }
      }

      .noe-17 {
        width: 60px;
        height: 386px;
        position: absolute;
        bottom: 28px;
        right: 80px;

        @include media() {
          width: 25px;
          height: 90px;
          right: 10px;
        }
      }
    }
  }
}
